<!DOCTYPE html>
<html>
<head>
    <title>LOGIN FORM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h2>Login</h2>
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message: </strong>{{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
</div>

{% endfor %}
    <form  method="POST">
        {% csrf_token %}
        <label>Username:</label> <input type="text" name="username"/><br>
        <label>Password:</label><input type="password" name="pass1"/><br>
        <button type="submit">Submit</button><br>
        <a href="/signup"> New Registration Click Here !!</a>

    </form>
    </div>

</body>

</html>