<!DOCTYPE html>
<html>
<head>
    <title>LOGIN FORM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h2>Sign Up</h2>
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message: </strong>{{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
</div>

{% endfor %}
    <form method="POST">
        {% csrf_token %}
        <label>Username:</label> <input type="text" id="username" name="username" placeholder="Create a username" required/><br>
        <label>First name:</label> <input type="text" id="fname" name="fname" placeholder="Enter first name" required/><br>
        <label>Last name:</label> <input type="text" id="lname" name="lname" placeholder="Enter Last name" required/><br>
        <label>Email:</label> <input type="email" id="email" name="email" placeholder="Enter Email" required/><br>
        <label>Password:</label><input type="password" id="pass1" name="pass1" placeholder="Enter 6 digit password" required/><br>
        <label>Confirm Password:</label><input type="password" id="pass2" name="pass2" placeholder="Re Enter 6 digit password" required/><br>
        <button type="submit">Submit</button><br>
        
    </form>
    </div>

</body>

</html>